.form{
   display: flex;
  flex-direction: column;
  gap: var(--space-3);
}
.form__group{
  margin-top: var(--space-3);
   display: flex;
  gap: var(--space-3);
  flex-wrap: wrap;
}

@media only screen and (max-width: 498px) {
  .form__group {
   flex-direction: column;
   gap: var(--space-2);
  }
}