:root {
  /* Colors */
  --color-bg: #f4f6f8;
  --color-surface: #282c34;
  --color-surface-muted: #f1f5f9;

  --color-text: #111827;
  --color-text-muted: #6b7280;

  --color-primary: #f97316;
  --color-secondary: #4f46e5;
  --color-secondary-hover: #4338ca;
  --color-success: #22c55e;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-white:#fff;
  --color-info: #AA3939;
  --color-info-dark:#872D62;

  --color-border: #e5e7eb;
  --color-border-input: #9b344e;

  /*Weather-specific accents (optional but nice) */
  --color-sunny: #fbbf24;
  --color-rainy: #60a5fa;
  --color-cloudy: #94a3b8;

  /*  Spacing scale (rem-based) */
  --space-0:0rem;    /* 0px */
  --space-1: 0.25rem;  /* 4px */
  --space-2: 0.5rem;   /* 8px */
  --space-3: 0.75rem;   /* 12px */
  --space-4: 1rem;     /* 16px */
  --space-5: 1.25rem;   /* 20px */
  --space-6: 1.5rem;   /* 24px */
  --space-7: 1.75rem;   /* 28px */
  --space-8: 2rem;     /* 32px */
  --space-9: 2.5rem;     /* 40px */
  --space-10: 3rem;     /* 48px */
  --space-11: 3.5rem;     /* 56px */
  --space-12:4rem;  /* 64px */

  /*  Radius */
  --radius-none: 0px;
  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 18px;

  /*Shadows */
  --shadow-sm: 0 2px 10px rgba(0,0,0,0.05);
  --shadow-md: 0 10px 30px rgba(0,0,0,0.1);

  /* Typography */
  --font-main:  source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    --font-heading:'Lobster', cursive;
    --font-title: 'Roboto Mono', monospace; 
    --font-subtitle: 'Playfair Display', serif;

 /* font weights */
  --font-weight-light: 200;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

   /* font styles */
  --font-style-regular: normal;
  --font-style-italic: italic;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #30E8BF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF8235, #30E8BF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF8235, #30E8BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.btn-group{
  margin-top: var(--space-4);
   display: flex;
  gap: var(--space-4);
  flex-wrap: wrap;
}

.btn{
  flex:1;
  border: solid 2px var(--color-success);
  background: var(--color-success);
  padding: var(--space-3);
  margin:var(--space-3);
  border-radius: var(--space-1);
  font-size: var(--space-4);
  font-weight: bold;
  outline: none;
  color: var(--color-white);
  cursor: pointer;
}
/* button */
.btn--clear{
  border: solid 2px var(--color-primary);
  background: var(--color-primary);
}

/* input */
.input {
  flex:1;
  background-color: transparent;
  border: var(--space-0);
  border-bottom: solid 2px var(--color-border-input);
  margin: var(--space-3);
  padding: var(--space-3);
  outline: none;
  text-align: center;
  text-transform: capitalize;
   color: var(--color-white);
  font-size: var(--space-5);
}